<div class="flex flex-col items-center">
  <p class="text-3xl font-bold underline text-emerald-500 dark:text-emerald-900 tasadith">
    รายชื่อสมาชิกชมรม นอร.๒๕
  </p>
</div>
<div *ngIf="loading" class="loading-shade">
  <mat-spinner></mat-spinner>
</div>
<div class="container">
  <div class="search-div">
    <button *ngIf="canDo" mat-raised-button matTooltip="เพิ่มสมาชิก"
            color="primary"
            (click)="onCreate()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field class="search-form-field">
      <input matInput placeholder="Search" autocomplete="off"
             [ngModel]="searchKey" (keyup)="applyFilter($event)" #input class="sarabun">
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        *ngIf="searchKey"
        (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z5">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let index = index">
          {{ (index + 1) + (paginator.pageIndex * paginator.pageSize) }}.
        </td>
      </ng-container>
      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ยศ</th>
        <td mat-cell *matCellDef="let row">{{row['rank']}}</td>
      </ng-container>
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อ</th>
        <td mat-cell *matCellDef="let row">{{row['firstname']}}</td>
      </ng-container>
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>นามสกุล</th>
        <td mat-cell *matCellDef="let row">{{row['lastname']}}</td>
      </ng-container>
      <ng-container matColumnDef="birthdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>วันเกิด</th>
        <td mat-cell *matCellDef="let row">{{row['birthdate'] | thaiDate}}</td>
      </ng-container>
      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">

          <div *ngIf="canDo">
            <button
              mat-icon-button
              matTooltip="รายละเอียด"
              matTooltipClass="example-tooltip-red"
              (click)="onDetail(row)">
              <mat-icon color="primary">article</mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="แก้ไข"
              (click)="onUpdate(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="ลบรายการนี้"
              (click)="onDelete(row)">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="text-center" colspan="5">
          <span class="text-lg text-red-600 prompt"> ไม่พบข้อมูลที่ตรงกับ: "{{input.value}}" </span>
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="select page of users">
    </mat-paginator>

  </div>
</div>
